<h1>Sign up</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  
  <div class="form-group">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
  </div>
 
  <div class="form-group">
    <%= f.label :password, 'Password' %>
    <%= f.text_field :password %>
  </div>
  
  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirmation' %>
    <%= f.text_field :password_confirmation %>
  </div>
  
  <%= f.submit 'Sign up' %>
  
<% end %>
